h1 {
    font-family: 'Zilla Slab', serif;
    color: #3b68a6;
}

h2 {
    font-family: 'Zilla Slab', serif;
    color: #FBB63B;
}

h3 {
    font-family: 'Zilla Slab', serif;
}

h4 {
    font-family: 'Zilla Slab', serif;
    color: #e4694a;
}

h5 {
    font-family: 'Zilla Slab', serif;
    color: #ADD8CD;
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
}